<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title HeadMastr
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/bulma.css")
        link(rel="stylesheet", href="./css/style.css")
        script(src="./vendor/jquery.js")
        script(src="./vendor/modernizr-3.5.0.min.js")
        script(src="./src/main.js")
    body
    block content
    block footer
       footer.footer
            .container
                .content.has-text-centered
                    p
                        strong Designed by
                            a(href="/") Udori
            

        
